services:
  - type: web
    name: biblioteca-backend
    env: docker
    plan: free
    branch: main
    healthCheckPath: /actuator/health
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
